body {
  background-color: #dfdfdf;
  z-index: -10;
}

.social-network {
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  color: #1e1e1e;
  font-family: 'Arial', Arial, sans-serif;
  text-transform: uppercase;
}

.social-network .header {
  grid-column-start: 1;
  grid-column-end: 9;

  z-index: 10;
}

.social-network .navbar {
  grid-column-start: 1;
  grid-column-end: 2;

  z-index: 10;
}

.social-network .content {
  grid-column-start: 2;
  grid-column-end: 9;

  z-index: 10;
}

a {
  text-decoration: none;
  color: #1e1e1e;
}

a:hover {
  color: white;
}